/* Load fonts */
@font-face {
  font-family: "Bebas Neue";
  src: url("/fonts/bebas-neue/BebasNeue.woff") format("woff"),
    url("/fonts/bebas-neue/BebasNeue.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/helvetica-neue/HelveticaNeue-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/helvetica-neue/HelveticaNeue-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";

@theme {
  --font-bebas: "Bebas Neue", sans-serif;
  --font-helvetica: "Helvetica Neue", "Helvetica", "Arial", sans-serif;

  /* Streamflix Colors */
  --color-primary: #8b5cf6;
  --color-secondary: #a855f7;
  --color-dark: #0f0f0f;
  --color-gray: #181818;
  --color-accent: #f59e0b;
}
@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
